<h3>Search Form</h3>
<%= form_tag topics_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% @topics.each do |topic| %>
  <%= link_to topic.title, topic_path(topic) %><br >
<% end %>
